@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Rubik:wght@700&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Source Sans 3";
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.scb {
  scrollbar-width: auto;
  scrollbar-color: #a4a1a5 #ffffff;
}

/* Chrome, Edge, and Safari */
.scb::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scb::-webkit-scrollbar-track {
  background: transparent;
}

.scb::-webkit-scrollbar-thumb {
  background-color: #cfccd0;
  border-radius: 10px;
  /* border: 3px solid #ffffff; */
}
.scb::-webkit-scrollbar-corner {
  background-color: transparent;
}
.spinner {
  width: 100%;
  background: rgba(0, 0, 0, 0.834) url("assets/giphy.webp") center no-repeat;
  z-index: 1;
}

.loadingBar {
  animation: 3s ease-out 1s 2 reverse both paused load;
}

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.active {
  background-color: green;
}
.activeBtnHome {
  @apply bg-gradient-to-r  from-teal-600 via-slate-500 to-teal-700;
  @apply text-white;
  @apply font-bold;
  animation: delayBtn 0.3s ease-in 1 forwards;
  text-decoration: underline;
}

@keyframes delayBtn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.bannerImg {
  background-image: linear-gradient(
    to right,
    rgba(rgb(3, 37, 65), 0.8) 0%,
    rgba(rgb(3, 37, 65), 0) 100%
  );
}

.shadowCard {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.shadowAside {
  box-shadow: 5px 5px 5px rgb(255, 255, 255);
}

.circleRadial {
  /* background-image: conic-gradient(
    hsl(360, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(0, 100%, 50%)
  ); */
  background-image: conic-gradient(lime 50deg, 50deg, rgb(24, 18, 18));
}

datalist {
  display: flex;
  left: 8px;
  position: absolute;
  top: 15px;
  /* flex-direction: column; */
  letter-spacing: 1px;
  justify-content: space-between;
  /* writing-mode: vertical-lr; */
  width: 100%;
  pointer-events: none;

  font-size: 11px;
}
datalist option {
  position: relative;
  /* background: white; */
  right: -100px;

  top: 5px;
  left: -5px;
  /* width: 100%; */
  /* padding: 0; */
  /* border-left: 1px solid black; */
  /* border-right: 1px solid black; */
}
input[type="range"] {
  /* -webkit-appearance: none; */
  z-index: -100;
}

input[type="range"]::-webkit-slider-thumb {
  /* height: 10px; */
  /* border-radius: 50%; */
  /* width: 10px; */
  /* cursor: pointer; */
  /* -webkit-appearance: none; */
  /* @apply bg-blue-500; */
  /* border-bottom: 1px solid #29334f; */
  /* box-shadow:
    0 0 0 red,
    -40px 0 0 red,
    -85px 0 0 red,
    -130px 0 0 red,
    -175px 0 0 red,
    -220px 0 0 red,
    -265px 0 0 red,
    -310px 0 0 red,
    -350px 0 0 red,
    -390px 0 0 red,
    -409px 0 0 red; */
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply accent-blue-100 rounded-full;
  /* width: 100%; */
  /* height: 1.2em; */
  /* cursor: pointer; */
  /* border: 1px solid #29334f; */
  /* overflow: hidden; */
}
